{% extends 'base/base.html' %}


{%block content%}

<h3>Consultar Pacientes</h3>
<form class="form-inline my-2 my-lg-0" id="search" action="{% url 'patient:buscador' %}" method="GET">
    <div class="dropdown-menu show" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 15px; left: 375px; will-change: transform;">
    <input type="text" name="busqueda" class="form-control mr-sm-2" placeholder="Buscar">
	<ul id="search-result" class="">

	</ul>
    </div>
</form>
<h3 style="">Listado de pacientes</h3>

<table style="top: 100px;" class="table table-hover" id="table1">
	<thead>
		<tr class="table-primary">
			<td>Código</td>
			<td>Edad</td>
			<td>Sexo</td>
			<td>VIH/AIDS</td>
			<td>Hab. de Calle</td>
			<td>Diabetes</td>
			<td>Info. Clínica</td>
			<td></td>
		</tr>

	</thead>
	<tbody>
		{% if object_list %}
		{% for Patient in object_list %}
		<tr>
			<td>{{ Patient.codigo }}</td>
			<td>{{ Patient.edad }}</td>
			{% if Patient.sexo == True %}
			<td>Masculino</td>
			{%elif Patient.sexo == False%}
			<td>Femenino</td>
			{%else%}
			<td>No hay información</td>
			{%endif%}
			{% if Patient.vih == True %}
			<td>Sí</td>
			{%elif Patient.vih == False%}
			<td>No</td>
			{%else%}
			<td>No hay información</td>
			{%endif%}
			{% if Patient.hab_calle == True %}
			<td>Sí</td>
			{%elif Patient.hab_calle == False%}
			<td>No</td>
			{%else%}
			<td>No hay información</td>
			{%endif%}
			{% if Patient.diabetes == True %}
			<td>Sí</td>
			{%elif Patient.diabetes == False%}
			<td>No</td>
			{%else%}
			<td>No hay información</td>
			{%endif%}
			{% if Patient.info_clinica == True %}
			<td>Sí</td>
			{%elif Patient.info_clinica == False%}
			<td>No</td>
			{%else%}
			<td>No hay información</td>
			{%endif%}
			<td>
				<a class="btn btn-outline-info" href="{% url 'patient:patient_leer' Patient.id %}">Ver</a>
			</td>
		</tr>
		{% endfor %}

		{% else %}
		<h1>No hay pacientes en el repositorio</h1>
		{% endif %}
	</tbody>
</table>

<ul class="pagination">
	<li class="">
		{% if page_obj.has_previous %}
		<a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
		{% endif %}
	</li>
    {% for i in page_obj.paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="page-item active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
	 <!--<li class="">-->
        <!--<span> {{ page_obj.number }} de {{ page_obj.paginator.num_pages }} </span>-->
    <!--</li>-->
	<!--<li>-->
		{% if page_obj.has_next %}
		<a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
		{% endif %}
	</li>
</ul>

<a style="margin-left: 250px; " class="btn btn-warning" href="{% url 'patient:patient_export' %}">Exportar-xls</a>
<a class="btn btn-warning" href="{% url 'patient:patient_export_pdf' %}" target="_blank">Exportar-pdf</a>
{% endblock %}